@using MvcBigBank.Models
@model Musteri
@{
    ViewBag.Title = "Fatura Öde";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div>
        <section class="panel" style="margin-left:40px; margin-top:90px">
            <header class="panel-heading" style="text-align:center;">
                FATURA ÖDE
            </header>
            <div class="panel-body" style="text-align:center; vertical-align:middle; align-items:center; justify-content:center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <img src="~/img/79-790413_phone-icon-telephone.png" style="height:100px; width:100px; margin-bottom:20px; " />
                    </div>

                    <div class="form-group " style="display:inline">
                        <div style="display:inline">

                            @Html.TextBoxFor(model => model.telefon, new { @placeholder = "Telefon Numaranız ", @pattern = "{0-9}", @maxlength = "10", @style = "border: none; border-bottom: 1px solid #f05056; width:250px; margin-top:10px;", @onkeypress = "return event.charCode >=48 && event.charCode <=57" })
                            @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-xs-6 col-xs-offset-4" style="margin-top:20px; ">
                                <input type="submit" value="Gönder" class="btn btn-info btn-xs btn-block" style="font-size:large; background-color:#004e95 " />
                            </div>

                        </div>
                    </div>
                }
            </div>
        </section>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message")
                    }
            </script>
        }
        @if (ViewBag.Message2 != null)
        {
            <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message2")
                    }
            </script>
        }
    </div>
</div>
