@using MvcBigBank.Models
@model ParaTransferleri

@{
    ViewBag.Title = "Para Transferi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <section class="panel" style="margin-left:40px; margin-top:90px">
            <header class="panel-heading" style="text-align:center;">
                HAVALE
            </header>
            <div class="panel-body" style="text-align:center; vertical-align:middle; align-items:center; justify-content:center">
                @using (Html.BeginForm("MoneyTransfer", "Account", FormMethod.Post, new { @id = "frmMoneyTransfer" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="form-group" style="display:inline">
                        <div style="display:inline">
                            @Html.TextBoxFor(model => model.aliciHesapNo, new { @style = "border: none; border-bottom: 1px solid #f05056; width:250px; margin-top:10px;", @type = "text", @placeholder = "Gönderilecek Hesap Numarasını Giriniz ", @onkeypress = "return event.charCode >=48 && event.charCode <=57", @maxlength = "13", @minlength = "13" })
                            @Html.ValidationMessageFor(model => model.aliciHesapNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <div  class="row justify-content-center">
                            <div style="display:inline;">
                                @Html.TextBoxFor(model => model.miktar, new { @placeholder = "Gönderilecek Tutarı Giriniz", @style = "border: none; border-bottom: 1px solid #f05056; width:250px; margin-top:10px;", maxlength = "10", @onkeypress = "return event.charCode >=48 && event.charCode <=57 || event.charCode==44", htmlAttributes = new { @class = "form-control", id = "balance" } })
                                @Html.ValidationMessageFor(model => model.miktar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group " style="display:inline">
                    <div class="row justify-content-center">
                    @Html.TextBoxFor(model => model.miktar, new { @style = "border: none; border-bottom: 1px solid #f05056; width:250px; margin-top:10px;", @placeholder = "En fazla 10.000 ₺ Gönderilebilir ", @type = "number", @max = "9999", @onkeypress = "return event.charCode >=48 && event.charCode <=57" })
                    @Html.ValidationMessageFor(model => model.miktar, "", new { @class = "text-danger" })
                </div>
            </div>*@

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-xs-6 col-xs-offset-4" style="margin-top:20px; ">
                                <input type="submit" value="Gönder" class="btn btn-info btn-xs btn-block" style="font-size:large; background-color:#004e95 " />
                            </div>

                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
